html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
    letter-spacing: 0;
}

.site-wrapper {
    background-image: url('../img/main-slide01.png');
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-inner {
    min-width: 940px;
    background: #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
    content: '';
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url('../img/main-slide02.png');
}

.site-wrapper::after {
    background-image: url('../img/main-slide03.png');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover,
a:active,
a:focus {
    color: #ffbc9e;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu,
.dropdown,
.user-navigation,
.user-login__list,
.user-help,
.slider__list,
.actions,
.products,
.about-company__list,
.social,
.info-list,
.breadcrumbs,
.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown,
.user-login__box,
.cart__box {
    display: none;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 10px 21px;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    background: #f26843;
    background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
    background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
    background: -o-linear-gradient(bottom, #e74a35, #f26843);
    background: linear-gradient(to top, #e74a35, #f26843);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient(rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient(rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient(rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0 2px 2px 0 #942718;
    box-shadow: inset 0 2px 2px 0 #942718;
}

.header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 2px;
}

.header__logo {
    width: 158px;
    height: 62px;
    margin-right: 7px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
}

.menu__item {
    position: relative;
    line-height: 18px;
}

.menu__item_current .menu__link {
    background-color: #d07058;
    text-decoration: none;
}

.menu__link {
    padding: 8px 14px 9px;
    background-color: transparent;
    border-radius: 50px;
}

.menu__link:hover,
.menu__link:focus {
    color: #323232;
    background-color: #fff;
    text-decoration: none;
}

.menu__link:active {
    color: #323232;
    text-decoration: none;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
    box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.menu__item_active:hover .dropdown {
    display: block;
}

.menu__item_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 26px;
    width: 88px;
    height: 20px;
}

.dropdown {
    position: absolute;
    left: -6px;
    top: 32px;
    z-index: 1;
    width: 143px;
    padding: 7px 0 8px;
    border-radius: 6px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.dropdown__link {
    display: block;
    padding: 6px 0;
    padding-left: 21px;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    font-weight: 400;
    text-decoration: none;
}

.dropdown__link:hover,
.dropdown__link:focus {
    color: #323232;
    background-color: #fbded7;
}

.dropdown__link:active {
    background-color: #f6b5a5;
}

.dropdown__link_current {
    color: #fff;
    background-color: #d07058;
}

.dropdown__link_new{
    position: relative;
    margin-bottom: 10px;
    font-weight: 700;
}

.dropdown__link_new:focus,
.dropdown__link_new:hover,
.dropdown__link_new:active {
    color: #323232;
    background-color: transparent;
}

.dropdown__link_new::after {
    content: '';
    position: absolute;
    left: 6px;
    bottom: -7px;
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
}

.header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.header__contacts {
    max-width: 250px;
    margin-left: auto;
    text-align: right;
}

.header__contacts_inner {
    margin-top: -7px;
}

.header__contacts-text {
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.header__contacts-phone {
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

.user-navigation__item:not(:last-child) {
    margin-right: 10px;
}

.search__link:hover,
.search__link:focus,
.user-login__link:hover,
.user-login__link:focus,
.cart__link:hover,
.cart__link:focus {
    color: #323232;
    background-color: #fff;
}

.search__link {
    display: block;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 36px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50px;
}

.search__link:hover path,
.search__link:focus path {
    fill: #323232;
}

.search {
    position: relative;
}

.search::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: -10px;
    width: 23px;
    height: 10px;
}

.search:hover .search__form {
    display: block;
}

.search__form {
    position: absolute;
    right: 0;
    bottom: -86px;
    display: none;
    width: 341px;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search__input {
    width: 100%;
    padding: 12px 14px 13px;
    border: 1px solid #d3d3d2;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
    color: #323232;
}

.search__input:hover {
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: 0 0 0 1px #c7c6c5;
    box-shadow: 0 0 0 1px #c7c6c5;
}

.search__input:focus {
    outline: none;
    border: 1px solid #8fbdec;
    -webkit-box-shadow: 0 0 0 1px #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec;
}

.search__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.search__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.search__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.user-login__item {
    position: relative;
}

.user-login__item::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    width: 71px;
    height: 10px;
}

.user-login__item:hover .user-login__box {
    display: block;
}

.user-login__link,
.cart__link {
    position: relative;
    display: block;
    padding: 8px 16px 8px 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    border-radius: 50px;
    background-color: rgba(255,255,255, 0.2);
}

.user-login__link svg {
    position: absolute;
    left: 17px;
    top: 5px;
}

.user-login__link:hover path,
.user-login__link:focus path,
.user-login__link:hover polygon,
.user-login__link:focus polygon {
    fill: #323232;
}

.user-login__box {
    position: absolute;
    left: -185px;
    top: 37px;
    z-index: 1;
    width: 277px;
    padding: 19px;
    background-color: #f8f7f4;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.user-login__input {
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    padding: 0 14px;
    border: 1px solid #d3d3d2;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    border-radius: 6px;
    color: #323232;
}

.user-login__input:hover {
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: 0 0 0 1px #c7c6c5;
    box-shadow: 0 0 0 1px #c7c6c5;
}

.user-login__input:focus {
    outline: none;
    border: 1px solid #8fbdec;
    -webkit-box-shadow: 0 0 0 1px #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec;
}

.user-login__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.user-login__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.user-login__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.user-login__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.user-login__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-login__btn {
    padding: 11px 25px;
}

.user-help__link {
    display: block;
    color: #323232;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.user-help__link:hover,
.user-help__link:focus {
    color: #e84d37;
}

.cart__link svg {
    position: absolute;
    left: 16px;
    top: 5px;
}

.cart__link-main:hover path,
.cart__link-main:focus path,
.cart__link-main:hover circle,
.cart__link-main:focus circle {
    fill: #323232;
}

.cart {
    position: relative;
}

.cart:hover .cart__box {
    display: block;
}

.cart::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    width: 88px;
    height: 10px;
}

.cart__table {
    border-collapse: collapse;
}

.cart__box {
    position: absolute;
    z-index: 1;
    left: -423px;
    top: 37px;
    width: 540px;
    padding: 15px 15px 18px 9px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.cart__col {
    padding: 0 10px 11px 5px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.cart__col_2 {
    padding-top: 7px;
    padding-left: 4px;
}

.cart__col_3 {
    width: 245px;
    padding-left: 0;
}

.cart__col_4 {
    width: 120px;
    padding-left: 3px;
}

.cart__col_5 {
    width: 74px;
    padding-left: 5px;
}

.cart__btn-remove {
    display: block;
    width: 11px;
    height: 11px;
    border: none;
    background: url('../img/x-small.svg') no-repeat center center;
    cursor: pointer;
}

.cart__img {
    min-width: 33px;
    min-height: 33px;
}

.cart__col_bottom {
    padding-top: 15px;
}

.cart__text:last-child {
    color: #999999;
}

.cart__subtotal {
    margin: 0;
    text-align: left;
}

.cart__total {
    padding: 19px 0 15px;
    border-top: 1px solid #cacac7;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
}

.cart__btn {
    max-width: 176px;
    display: block;
    margin-left: auto;
    padding: 10px 15px;
}

.slider {
    position: relative;
    margin-bottom: 40px;
    padding-top: 274px;
    text-align: center;
    color: #fff;
}

.slider__item {
    display: none;
}

.slider__title {
    width: 700px;
    margin: 0 auto 29px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider__btn {
    max-width: 400px;
    padding: 11px 42px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider__controls {
    position: absolute;
    bottom: 23px;
    left: 2px;
    z-index: 20;
    font-size: 0;
}

.slider__controls label {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider__controls label:hover {
    background-color: rgba(255,255,255, 0.4);
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url('../img/main-slide01.png');
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url('../img/main-slide02.png');
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url('../img/main-slide03.png');
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for='product-1'],
#product-2:checked ~ .site-wrapper label[for='product-2'],
#product-3:checked ~ .site-wrapper label[for='product-3'] {
    background-color: #ffffff;
}

.actions-list {
    margin-bottom: 27px;
}

.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.actions__item {
    width: 560px;
    padding: 17px 21px 25px 20px;
    border-radius: 15px;
    overflow: hidden;
}

.actions__item:first-child {
    background: #890b16 url('../img/rasberry-actions.jpg') no-repeat center center / cover;
}

.actions__item:last-child {
    background: #683a1f url('../img/choco-actions.jpg') no-repeat center center / cover;
}

.actions__title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 35px;
    line-height: 41px;
}

.actions__text {
    margin: 0;
    margin-bottom: 45px;
}

.actions__wrap {
    margin: 0;
    text-align: right;
}

.actions__btn {
    max-width: 200px;
}

.our-products {
    margin-bottom: 25px;
}

.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -13px;
}

.products__item {
    position: relative;
    margin: 13px;
    width: 267px;
    padding: 0 5px;
    text-align: center;
    color: #fff;
}

.products__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
    height: 61px;
    border-radius: 50px;
    background: #fff url('../img/hit.svg') no-repeat center center;
}

.product__wrap-img {
    width: 266px;
    height: 266px;
    margin-bottom: 13px;
    border-radius: 50%;
    overflow: hidden;
}

.products__title {
    position: relative;
    z-index: 3;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.product__price-box {
    position: absolute;
    left: 0;
    top: 209px;
    max-width: 250px;
}

.products__price {
    font-size: 45px;
    line-height: 45px;
    text-align: left;
}

.products__price:last-of-type {
    margin-left: -10px;
    font-size: 30px;
}

.about-company {
    margin-bottom: 40px;
    padding: 25px 14px 3px 22px;
    border-radius: 12px;
    background: #f1e6d0 url('../img/about-company-bg.jpg') repeat left center;
    overflow: hidden;
}

.about-company__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about-company__item {
    position: relative;
    width: 543px;
    margin-bottom: 1px;
}

.about-company__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    width: 49px;
    height: 49px;
}

.about-company__item:first-child::before {
    background-image: url('../img/about-icon01.svg');
}

.about-company__item:nth-child(2)::before {
    background-image: url('../img/about-icon02.svg');
}

.about-company__item:nth-child(3)::before {
    background-image: url('../img/about-icon03.svg');
}

.about-company__item:last-child::before {
    background-image: url('../img/about-icon04.svg');
}

.about-company__title {
    margin: 0;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about-company__text {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 56px;
    font-weight: 400;
}

.other {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.latest-news,
.subscribe-wrap {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 560px;
    border-radius: 15px;
}

.latest-news {
    padding: 23px 40px 79px 21px;
    background: #fff url('../img/strawberry-bg.jpg') no-repeat center center / cover;
}

.latest-news__text {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 500;
}

.latest-news__link {
    display: block;
    max-width: 283px;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.latest-news__link:hover,
.latest-news__link:active,
.latest-news__link:focus {
    color: #e84d37;
}

.subscribe-wrap {
    min-height: 220px;
    background: #f8f7f4 url('../img/subscribe-bg.jpg') no-repeat center center / cover;
}

.subscribe {
    min-height: 210px;
    margin: 5px;
    padding: 29px 20px 29px 24px;
    border-radius: 15px;
    background-color: #f8f7f4;
}

.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscribe__input {
    width: 367px;
    height: 44px;
    padding: 0 14px;
    border: 1px solid #d3d3d2;
    font: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 41px;
    border-radius: 6px;
    color: #323232;
}

.subscribe__input:hover {
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: 0 0 0 1px #c7c6c5;
    box-shadow: 0 0 0 1px #c7c6c5;
}

.subscribe__input:focus {
    outline: none;
    border: 1px solid #8fbdec;
    -webkit-box-shadow: 0 0 0 1px #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec;
}

.search__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.search__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.search__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.subscribe__text {
    margin: 0;
    margin-bottom: 36px;
    font-weight: 400;
    color: #5a5a5a;
}

.subscribe__btn {
    padding: 10px 18px;
}

.map {
    min-height: 430px;
    background: #f7f1d9 url('../img/map.jpg') no-repeat center center / contain;
}

.map .container {
    position: relative;
}

.contacts {
    position: absolute;
    z-index: 1;
    top: 62px;
    right: 26px;
    width: 302px;
    padding: 27px 25px 31px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 15px;
    background-color: #fff;
}

.contacts__text {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.contacts__text:last-of-type {
    margin-top: 2px;
    margin-bottom: 25px;
}

.contacts__address {
    margin: 0;
    margin-bottom: 15px;
}

.contacts__address,
.contacts__phone {
    font-size: 18px;
    line-height: 24px;
}

.contacts__address {
    margin: 0;
    margin-bottom: 20px;
}

.contacts__phone {
    color: #323232;
    text-decoration: none;
}

.contacts__phone:hover,
.contacts__phone:active,
.contacts__phone:focus {
    color: #e84d37;
}

.contacts__btn {
    display: block;
    text-align: center;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 190px;
    margin-left: 3px;
    margin-right: 230px;
}

.social__item {
    margin-top: 10px;
}

.social__item:not(:last-child) {
    margin-right: 18px;
}

.social__link {
    display: block;
    width: 31.5px;
    height: 32px;
    text-align: center;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255, 0.5);
    box-shadow: 0 0 0 3px rgba(255,255,255, 0.5);
}

.social__link path {
    fill: rgba(255,255,255, 0.8);
}

.social__link:hover,
.social__link:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255, 0.7);
    box-shadow: 0 0 0 3px rgba(255,255,255, 0.7);
}

.social__link:active {
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255, 0.7);
    box-shadow: 0 0 0 3px rgba(255,255,255, 0.7);
}

.social__link:hover path,
.social__link:focus path {
    fill: #fff
}

.info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 340px;
    padding-top: 9px;
}

.info-list__item {
    position: relative;
    width: 165px;
}

.info-list__item:nth-child(odd) {
    width: 145px;
}

.info-list__item:first-child::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
    width: 15px;
    height: 13px;
    background-image: url('../img/heart.svg');
}

.info-list__item:first-child .info-list__link {
    font-weight: bold;
}

.info-list__link {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.footer__copyright {
    margin-left: auto;
    max-width: 200px;
}

.footer__copyright-text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 500px;
    margin-top: -18px;
    margin-bottom: 5px;
}

.breadcrumbs__item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
}

.breadcrumbs__item:not(:last-child)::after {
    content: '»';
    margin: 0 6px;
}

.main__title {
    max-width: 500px;
    margin: 0;
    margin-bottom: 25px;
    color: #fff;
    font-size: 35px;
    line-height: 41px;
}

.page-filters {
    margin-bottom: 27px;
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 870px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
}

.sort {
    margin-right: 14px;
}

.sort__label {
    position: relative;
    display: block;
    margin-right: 14px;
    margin-bottom: 15px;
    padding: 10px 17px 9px 16px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50px;
}

.sort__select {
    padding: 0;
    border: none;
    width: 165px;
    background-color: transparent;
    -webkit-appearance: none;
    color: #f8f7f4;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.sort__select::-ms-expand {
    display: none;
}

.arrow-down {
    position: absolute;
    right: 19px;
    top: 14px;
    z-index: 1;
    pointer-events: none;
}

.sort__select:hover + .arrow-down path {
    fill: #323232;
}
.sort__select:hover {
    color: #323232;
}

.sort__option {
    color: #323232;
}

.filters__item {
    margin: 0;
    padding: 0;
    border: none;
}

.sort__title,
.toppings__title {
    padding-left: 18px;
    margin-bottom: 6px;
}

.range__title,
.choice__title {
    margin-bottom: 6px;
    padding-left: 14px;
}

.range__controls {
    position: relative;
    margin-right: 14px;
    padding: 0 22px;
    padding-top: 16.5px;
    width: 220px;
    height: 37px;
    border-radius: 50px;
    background-color: rgba(255,255,255, 0.2);
}

.range__scale {
    height: 4px;
    background-color: rgba(255,255,255, 0.5);
}

.range__bar {
    width: 70%;
    height: 4px;
    background-color: #fff;
}

.range__toggle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 22px;
    height: 22px;
    padding: 0;
    border: 9px solid #ffffff;
    border-radius: 50px;
    background-color: #ababab;
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.range__toggle:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.range__toggle_min {
    left: 32px;
}

.range__toggle_max {
    left: 131px;
}

.choice__box,
.toppings__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.choice__box {
    max-width: 450px;
    padding: 10px 17px 9px 14px;
    min-height: 37px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50px;
}

.toppings__box {
    max-width: 720px;
    padding: 10px 25px 9px 16px;
    min-height: 37px;
    margin-right: 13px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50px;
}

.toppings__wrap {
    padding-left: 32px;
}

.choice__wrap {
    padding-left: 30px;
}

.toppings__wrap:not(:last-child) {
    margin-right: 20px;
}

.choice__wrap:not(:last-child) {
    margin-right: 19px;
}

.toppings__label,
.choice__label {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.choice__label::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -30px;
    width: 22px;
    height: 22px;
    border: 4px solid rgba(255,255,255, 0.8);
    border-radius: 50%;
    -webkit-transition: border .3s, -webkit-transform .3s ease-in;
    transition: border .3s, -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in, border .3s;
    transition: transform .3s ease-in, border .3s;
    transition: transform .3s ease-in, border .3s, -webkit-transform .3s ease-in;
}

.choice__label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -23px;
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 50%;
    -webkit-transition: background-color .3s, -webkit-transform .2s ease-in;
    transition: background-color .3s, -webkit-transform .2s ease-in;
    -o-transition: transform .2s ease-in, background-color .3s;
    transition: transform .2s ease-in, background-color .3s;
    transition: transform .2s ease-in, background-color .3s, -webkit-transform .2s ease-in;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.choice__wrap input[type='radio']:checked + .choice__label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.choice__wrap input[type='radio']:focus + .choice__label::before {
    -webkit-box-shadow: 0 0 0 3px #8fbdec;
    box-shadow: 0 0 0 3px #8fbdec;
}

.choice__wrap input[type='radio']:disabled + .choice__label::before {
    border: 4px solid rgba(255,255,255, 0.4);
}

.choice__label:hover::before {
    border: 4px solid #fff;
}

.choice__label:hover::after {
    background-color: #fff;
}

.toppings__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 23px;
    height: 20px;
    background: url('../img/checkbox-off.svg') no-repeat center center / contain;
}

.toppings__wrap input[type='checkbox']:checked + .toppings__label::before {
    left: -28px;
    background: url('../img/checkbox-on.svg') no-repeat center center / contain;
}

.toppings__wrap input[type='checkbox']:focus + .toppings__label::before {
    -webkit-box-shadow: 0 0 0 3px #8fbdec;
    box-shadow: 0 0 0 3px #8fbdec;
}

.toppings__wrap input[type='checkbox']:disabled + .toppings__label::before {
    opacity: 0.4;
}

.filters__btn {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 7px 29px;
    min-height: 37px;
    border: none;
    border: 2px solid #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    background-color: rgba(255,255,255, 0.2);
    cursor: pointer;
    -webkit-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.filters__btn:hover,
.filters__btn:focus {
    color: #323232;
    background-color: #fff;
}

.filters__btn:active {
    color: #323232;
    border: none;
    padding: 9px 31px;
    -webkit-box-shadow: inset 0 2px 1px 0 #696969;
    box-shadow: inset 0 2px 1px 0 #696969;
    background-color: #ededed;
}

.products-catalog {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.products-inner {
    margin-bottom: 57px;
}

.products-inner .products__item {
    margin-bottom: 25px;
}

.products-inner .products__item::before {
    content: none;
}

.products__overlay {
    position: absolute;
    left: -13px;
    top: -6px;
    z-index: 1;
    width: 293px;
    height: 125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 22px 45px;
    border-radius: 6px;
    background-color: rgba(255,255,255, 0.2);
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.products__item:hover .products__overlay {
    opacity: 1;
}

.products__btn {
    padding: 11px 17px;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 250px;
}

.pagination__item {
    font-weight: 500;
}

.pagination__item:not(:last-child) {
    margin-right: 1px;
}

.pagination__link {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 50px;
}

.pagination__link:hover,
.pagination__link:focus {
    color: #fff;
    background-color: rgba(255,255,255, 0.2);
}

.pagination__item_current .pagination__link {
    color: #323232;
    background-color: #fff;
}


.pagination__control {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 27px;
}

.pagination__control_prev {
    margin-right: 10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pagination__control_next {
    text-align: right;
}

.pagination__control[href] path {
    fill: #fff;
}

.callback-form {
    position: fixed;
    display: none;
    z-index: 5;
    width: 478px;
    min-height: 446px;
    top: 50%;
    left: 50%;
    margin-left: -239px;
    margin-top: -221px;
    padding: 17px 26px 26px 22px;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.callback {
    position: relative;
}

.callback__close {
    position: absolute;
    right: -15px;
    top: -7px;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.callback__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
}

.callback__input {
    width: 100%;
    max-width: 266px;
    height: 44px;
    margin-bottom: 20px;
    padding: 0 14px;
    border: 1px solid #d3d3d2;
    font-weight: 400;
    font-size: 16px;
    line-height: 41px;
    border-radius: 6px;
    color: #323232;
}

.callback__input:hover {
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: 0 0 0 1px #c7c6c5;
    box-shadow: 0 0 0 1px #c7c6c5;
}

.callback__input:focus {
    outline: none;
    border: 1px solid #8fbdec;
    -webkit-box-shadow: 0 0 0 1px #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec;
}

.callback__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__textarea {
    width: 100%;
    height: 156px;
    margin-bottom: 25px;
    padding: 12px 14px 13px;
    border: 1px solid #d3d3d2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    color: #323232;
    resize: none;
}

.callback__textarea:hover {
    border: 1px solid #c7c6c5;
    -webkit-box-shadow: 0 0 0 1px #c7c6c5;
    box-shadow: 0 0 0 1px #c7c6c5;
}

.callback__textarea:focus {
    outline: none;
    border: 1px solid #8fbdec;
    -webkit-box-shadow: 0 0 0 1px #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec;
}

.callback__textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__textarea::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.callback__btn {
    display: block;
    margin-left: auto;
    padding: 13px 25px;
}

.overlay {
    position: fixed;
    display: none;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
}

.modal-open {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.overlay-open {
    display: block;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.ymaps-2-1-74-map {
    position: absolute;
    left: 0;
    top: 0;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}